body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    /* this adds padding to a box and won't increase the width, but it adds the padding inwards, not outwards. */
    -webkit-box-sizing: border-box;
    /* for chrome and safari.  */
    -moz-box-sizing: border-box;
    /*for firefox*/
    box-sizing: border-box;
    /*for all the other browsers. */
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header {
    text-align: center;
    margin-top: 5px;
}

.header h1 {
    font-weight: 400;
}

.header h3 {
    font-weight: 300;
}

.navbar {
    padding-top: 1.5vh;
    text-align: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    transition: 0.5s color ease-in-out;
}

.navbar li:hover {
    color: rgb(145, 142, 142);
    -webkit-transition: 0.5s, color ease-in-out;
    -moz-transition: 0.5s color ease-in-out;
    -o-transition: 0.5s color ease-in-out;
}

.hrz-line {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: 20px;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.banner-img {}

.footer {
    bottom: 0;
    height: 39px;
    position: fixed;
    margin: 0;
    width: 100%;
}

.footer ul {
    background-color: grey;
}

.footer li {
    display: inline-block;
    font-size: 11px;
    margin: 5px;
}